<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    {{#error}}
        {{error}}
    {{/error}}
</div>
<a href="/temperatures">Go back</a>
</body>
</html>