<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
    </form>
</div>
<div>
    <a href="/temperatures/newTemperatureData">Post new Temperature Data</a>
</div>
<div>
    Список температур
</div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{temperature}}</span>
    </div>
    <div>
        <span>{{coordinates}}</span>
    </div>
    {{/messages}}
</body>
</html>