<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Display temperature page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <a href="/temperatures/newTemperatureData">Post new Temperature Data</a>
</div>
<div>
    {{#validation error}}
        {{validation error}}
    {{/validation error}}
</div>

<div>
    <form action="/temperatures/filter" method="post">
        <div><label> Your Location: <input type="text" name="coordinates"/> </label></div>
        <div class="list"><input type="submit" value="Filter"/></div>
    </form>
</div>
<div>
    List of last 10 temperature data:
    {{#messages}}
    <div>
        <span>Temperature, D: {{temperature}}</span>
    </div>
    <div class="list">
        <span>Coordinates: {{coordinates}}</span>
    </div>
    {{/messages}}

</div>
<div>
    <form action="/logout" method="post">
        <div><input type="submit" value="Sign Out"/></div>
    </form>
</div>
</body>
</html>