<html>
<body>
<div>
    Список температур
</div>
    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{temperature}}</span>
    </div>
    <div>
        <span>{{coordinates}}</span>
    </div>
    {{/messages}}
</body>
</html>