<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welcome page</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    Main page
</div>
<div>
<p> Click <a href="/temperatures"> here </a> to see a temperature.</p>
</div>
</body>
</html>