<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div>
    Post new temperature data
</div>
{{#validation error}}
    {{validation error}}
{{/validation error}}
<form action="/temperatures/newTemperatureData" method="post">
    <div><label> Temperature: <input type="text" name="temperature"/> </label></div>
    <div><label> Coordinates: <input type="text" name="coordinates"/> </label></div>
    <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
    <div><input type="submit" value="Post"></div>
</form>
<a href="/temperatures">Go back</a>
</body>
</html>