<html xmlns="http://www.w3.org/1999/xhtml">
<body>

Add new user
{{#message}}
    {{message}}
{{/message}}
<form action="/registration/user" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"></div>
    <div><input type="submit" value="Sign Up"/></div>
</form>
<a href="/login">Go back</a>
</body>
</html>